server:
  port: 8761

spring:
  application:
    name: discovery-server

eureka:
  instance:
    hostname: localhost
    prefer-ip-address: true

  client:
    register-with-eureka: false
    fetch-registry: false


info:
  app:
    name: Discovery App
    version: SNAPSHOT-1.0
